<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated hochschule -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hochschuleemf.presentation.HochschuleemfModelWizardID"
            name="%_UI_HochschuleemfModelWizard_label"
            class="hochschuleemf.presentation.HochschuleemfModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HochschuleemfModelFile.gif">
         <description>%_UI_HochschuleemfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated hochschule -->
      <editor
            id="hochschuleemf.presentation.HochschuleemfEditorID"
            name="%_UI_HochschuleemfEditor_label"
            icon="icons/full/obj16/HochschuleemfModelFile.gif"
            extensions="hochschuleemf"
            class="hochschuleemf.presentation.HochschuleemfEditor"
            contributorClass="hochschuleemf.presentation.HochschuleemfActionBarContributor">
      </editor>
   </extension>

</plugin>
